@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WHAREHOUSE APP</h1>
    <p class="lead">Simple CRUD to register Articles and to do it is necessesary to be authenticated</p>
    
</div>

